.admin a {
  margin-right: 2rem;
  color: white;
}



.select-month{
display: flex;
justify-content: end;
margin-top: 5rem;

}
.dashboard {
  margin-top: 5rem;
  background-color: #e392a4ff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
  color: #2c3e50;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.dashboard-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  background-color: #ecbceeff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: calc(33.333% - 1rem);
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-icon {
  font-size: 2rem;
  color: #323436;
  margin-bottom: 1rem;
}

.card h3 {
  color: #2c3e50;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.card-value {
  color: #2c3e50;
  font-size: 2.1rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
